<title>
  <%= @author.name %>
</title>

<h1>AUTHOR</h1>

<div>
  <%= link_to "All Books", books_path %>
</div>

<div id="author-name">
  <%= @author.name %>
</div>


<div>
<span id="other-books">other books by author:</span>

  <% @author.books.each do |book| %>
  <div>
    <%= link_to "#{book.title}", book_path(book) %>
  </div>
    <span>
      <%= book.pages %> pages |
      published in <%= book.year %>
    </span>
 
  <% end %>
</div>
