<div class="link-wrapper" id="all-books-link-wrapper">
    <%= link_to "All Books", books_path %>
</div>

<h1>AUTHOR</h1>

<div id="author-name">
  <%= @author.name %>
</div>

<i class="fa fa-trash"></i>
<%= link_to "Delete", author_path(@author), method: "delete", id: "delete-author-link" %>


<div>
<span id="other-books">other books by author:</span>

  <% @author.books.each do |book| %>
  <div>
    <%= link_to "#{book.title}", book_path(book) %>
  </div>
    <% book.authors.each do |author| %>
    <span>
      <% if @author.name != author.name %>
      Co-authored by:
      <%= author.name %>
      <% end %>
    </span>
    <% end %>
    <span>
      <%= book.pages %> pages |
      published in <%= book.year %>
    </span>

</div>

  <% end %>
</div>
