<%= link_to "All Books", books_path %>

<% @user.reviews.each do |r| %>
  <ul>
    <li>Review Title: <%= r.title %></li>
    <li>Score: <%= r.score %></li>
    <li>Description: <%= r.description %></li>
    <%= link_to "Delete", review_path(r), method: 'delete'%>
  </ul>
<% end %>
lower right pencil	N/A	#9998;	p:before{content:"\270E";}	console.log("\u270E");