<%= link_to "All Books", books_path %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<% @user.reviews.each do |r| %>
  <ul>
    <li>Review Title: <%= r.title %></li>
    <li>Score: <%= r.score %></li>
    <li>Description: <%= r.description %></li>
    <%= link_to "Delete", review_path(r), method: 'delete'%>
  </ul>
<% end %>
