  <%= form_for @book do |b| %>
  <div>
    <%= b.label :title %>
    <%= b.text_field :title %>
  </div>

  <div>
    <%= b.label :authors_names %>
    <input type="text" name="author_names" placeholder="Herman Melville, Joy Revkas">
  </div>

  <div>
    <%= b.label :pages %>
    <%= b.number_field :pages, min: 0 %>
  </div>

  <div>
    <%= b.label :year %>
    <%= b.number_field :year, min: 1200, max: 2018 %>
  </div>

  <div><%= b.submit %></div>
<% end %>
