<div class="topnav">
  <a href="#">Highest Average</a>
  <a href="#">Lowest Average</a>
  <a href="#">Longest</a>
  <a href="#">Shortest</a>
  <a href="#">Most Reviews</a>
  <a href="#">Fewest Reviews</a>
</div>
<!--SORTING LINKS -->

<h1>All The Books</h1>

<span id="actions">
  <div class="link-wrapper" id="create-book-link-wrapper">
    <%= link_to "Create Book", new_book_path, id: 'create-book-link' %>
  </div>

  <div class="link-wrapper" id="write-review-link-wrapper">
    <%= link_to "Write a Review", new_book_path, id: 'write-review-link' %>
  </div>

</span>
<!-- CREATE BOOK LINK -->

<% @books.each do |b| %>
  <ul class="all-books-list">
    <li>
      <div id="book-headline">

        <div id="title"><%= link_to b.title, book_path(b), id: 'title-link' %>
        </div>
      
        <div id="authors">
          <% b.authors.each do |a| %>
          <span id="authors-list-<%= b.id %>">
            <%= link_to a.name, author_path(a), id: 'author-link' %> </br>
          </span>
          <% end %>
        </div>

        <span id="total-reviews-tag">Total Reviews:</span> 
        <span class="total-reviews"><%= b.reviews.total_reviews %></span>
      
        <span id="avg-score-tag">Average Rating:</span> 
        <span class="avg-score"><%= b.reviews.avg_score %></span>
      
        <span id="num-pages-tag">Number of Pages:</span> 
        <span id="num-pages-<%= b.id %>"><%= b.pages %> pages</span>
      
        <span id="year-written-tag">Published:</span>
        <span id="year-written-<%= b.id %>"><%= b.year %></span>

      </div>
    </li>
  </ul>
<% end %>
