<div class="topnav">
  <a href="#">Highest Average</a>
  <a href="#">Lowest Average</a>
  <a href="#">Longest</a>
  <a href="#">Shortest</a>
  <a href="#">Most Reviews</a>
  <a href="#">Fewest Reviews</a>
</div>
<!--SORTING LINKS -->

<h1>All The Books</h1>

<div class="link-wrapper" id="create-book-link-wrapper">
  <%= link_to "Create Book", new_book_path, id: 'create-book-link' %>
</div>
<!-- CREATE BOOK LINK -->


  <% @books.each do |b| %>
    <ul id="all-books-list">
      <li>
        <span id="title-tag">Title:</span>
          <div id="title">
            <%= link_to b.title, book_path(b), id: 'title-link' %>
          </div>
      </li>

      <li>
        <span id="author-tag">Author:</span><br>
          <div>
            <% b.authors.each do |a| %>
            <div id="authors-list-<%= b.id %>">
              <%= link_to a.name, author_path(a), id: 'author-link' %> </br>
            </div>
            <% end %>
          </div>
      </li>

      <li>
        <span id="total-reviews-tag">Total Reviews:</span> <br>
          <div id="total-reviews"><%= b.reviews.total_reviews %></div>
      </li>

      <li>
        <span id="avg-score-tag">Average Rating:</span> <br>
        <div id="avg-score"><%= b.reviews.avg_score %></div>
      </li>

      <li>
        <span id="num-pages-tag">Number of Pages:</span> <br>
        <div id="num-pages-<%= b.id %>"><%= b.pages %> pages</div>
      </li>

      <li>
        <span id="year-written-tag">Published:</span>
        <div id="year-written-<%= b.id %>"><%= b.year %></div>
      </li>
    </ul>
  <% end %>
