<div class="link-wrapper" id="write-review-link-wrapper">
  <%= link_to "All Books", books_path %>
</div>

<div class="container">
  <div id="book-title"><%= @book.title %></div>
  <div id="book-authors">Author:
  <% @book.authors.each do |a| %>
    <%= link_to a.name, author_path(a) %>&nbsp;&nbsp;&nbsp;
  <% end %>
  </div>

  <div id="book-pages">
    <%= "Pages: #{@book.pages}" %>
  </div>
  <div id="book-year">
    <%= "Published: #{@book.year}" %>
  </div>
    
  <i class="fa fa-trash"></i>
  <%= link_to "Delete", book_path(@book), method: "delete", id: "delete-book-link" %>
</div>

<div id="stats-box">
  <h3>Book Statistics</h3>
  <div>Overall average rating:
    <span id="average-score"> <%= @average %> </span>
  </div>


  <div id="top-reviews">
    <% @highest_reviews.each do |hr| %>
      <p id="highest"><%= hr.title %> <%= hr.user.name %> <%= hr.score %></p>
    <% end %>
  </div>

  <div id="bottom-reviews">
    <% @lowest_reviews.each do |lr| %>
      <p id="lowest"><%= lr.title %> <%= lr.user.name %> <%= lr.score %></p>
    <% end %>
  </div>
</div>



<div id="book-reviews">Reviews:

  <% @book.reviews.each do |r| %>
  <div>
    <div>
    <b><%= r.score %>/5</b> |
    <span><em><%= r.title %></em></span>
      <div>
      <%= r.description %>
    --<%= link_to "#{r.user.name}", user_reviews_path(r.user_id)%>
      </div>
    </div>
  </div>
  <% end %>

</div>

<div id="add-review-link">
  <%= link_to 'Write a Review', new_review_path(book_id: @book.id)  %>
</div>