<div class="link-wrapper" id="write-review-link-wrapper">
  <%= link_to "All Books", books_path %>
</div>

<h1>@user.name</h1>

<div class="link-wrapper" id="newest-link-wrapper">
    <%= link_to "Oldest", user_reviews_path(sort: "oldest") %>
</div>

<div class="link-wrapper" id="oldest-link-wrapper">
    <%= link_to "Newest", user_reviews_path(sort: "newest") %>
</div>

<% @reviews.each do |r| %>
<div class="review-entry">
  
  <%= r.score  %>/5  |  
  <em><%= r.title  %></em>
  <div class= "description-entry">
  <%= r.description  %> <br>
  <span id="created-at-<%=r.id%>">
  <%= r.created_at.strftime("%m-%d-%Y") %>
  </span>
  </div>
  <span id="delete-review-link"><%= link_to "Delete", user_review_path(r.user_id, r), method: 'delete'%></span>

</div>
<% end %>