<div class="link-wrapper" id="write-review-link-wrapper">
  <%= link_to "All Books", books_path %>
</div>

<h1>USER PAGE</h1>

<% @reviews.each do |r| %>
<div id="review-entry">
  <%= r.score  %>/5  |  
  <%= r.title  %>
  <div>
  <%= r.description  %>
  </div>
  <span id="delete-review-link"><%= link_to "Delete", user_review_path(r.user_id, r), method: 'delete'%></span>

</div>
<% end %>