
<div class="link-wrapper" id="all-books-link-wrapper">
    <%= link_to "All Books", books_path %>
</div>

<h1>REVIEW</h1>
<h1><%= @book.title %></h1>
<!-- TO DO: 
    - generate the heading:
    - "Write a review for #{book}"
-->

<%= form_for @review do |r| %>
<%= r.hidden_field :book_id, value: @book.id %>
<div>
  <%= r.label :title %>
  <%= r.text_field :title %>
</div>

<div>
  <%= r.label :user_name %>
  <input type="text" name="user_name" placeholder="Your Name">
</div>

<div>
  <%= r.label :score %>
  <%= r.number_field :score, min: 1, max: 5 %>

  <%= r.label :description %>
  <%= r.text_area :description %>
</div>

<div><%= r.submit %></div>

<% end %>
